@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: Outfit;
}


@theme {
  --color-primary: #5f6FFF;
  --color-white: #fff;

  /* Use this specific naming convention for v4 */
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}
.active {
  & hr {
    display: block !important;
  }
}
::-webkit-scrollbar{
    @apply hidden;
}